// Colors

$mycard-dark: #343a40 ; 

$mycard-bg-header:  #788694; 
$mycard-bg:  #bcd2e8; 
$mycard-color-border:  #344040; 
$mycard-bg-hover:  #343440; 
$mycard-color:  #403440; 

$mycard-color-button:  #6A8167; 
$mycard-bg-button:  #344034; 
$enable-caret:  true;
$enable-rounded:  true;
$enable-shadows: true;
$enable-gradients: true;
$enable-transitions: true;

// Cards
$mycard-border-width: 4px;
$mycard-border-radius: 9px;
$card-spacer-y: .8rem;
$card-spacer-x: 1.4rem;
$card-border-width: $mycard-border-width;
$card-border-radius: $mycard-border-radius;

