<div class="menu-card">
  <div class="card">
    <div class="card-header"><%= yield(:label) %></div>

    <div class="card-body"><%= yield %></div>

    <div class="card-footer"><%= yield(:actions) %></div>

  </div>
</div>
